html {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1024px;
    min-width: 320px;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    margin:auto;
}
header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
nav {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    background-color: #272727;
}
.nav {
    color: white;
}
#jam_pictures {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}
#servis_and_news {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 1fr;
}
@media (max-width: 900px) {
    #servis_and_news {
        display: block;
    }
}
label {
    display: flex;
    justify-content: center;
    background: #272727;

}
#servis {
    max-width: 100%;
    background: lavender;
}
.img_for_service {
    display: grid;
    grid-auto-columns: max-content;
    max-width: 100%;
    max-height: 100%;
}
#article_for_servis {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}
@media (max-width: 450px) {
    #article_for_servis {
        display: flex;
        flex-direction: column;
    }
}
.section_servis {
    display: grid;
    grid-auto-columns: max-content;
    grid-template: 1fr/1fr;
    margin: 5px;
}
.section_servis {
    display: flex;
    flex-direction: column;
}
#news {
    margin-left: 10px;
    background: lavender;
}
.section_news {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: max-content;
    margin: 5px auto;
    padding: 5px;
}
#products {
    grid-column-end: span 2;
    margin-top: 10px;
    background: lavender;
}
#article_for_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 450px) {
    #article_for_products {
        display: flex;
        flex-direction: column;
    }
}
.section_products {
    display: grid;
    grid-template: 1fr/1fr;
    margin: 5px;

}
.section_products {
    display: flex;
    flex-direction: column;
}
h1 {
    margin: auto;
    display: flex;
    justify-content: center;
    color: white;
}
h2 {
    display: flex;
    justify-content: center;
}
p {
    display: flex;
    justify-content: flex-start;
    color: #272727;
    margin: 5px;
}
h3 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}