html {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1024px;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}
nav {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#jam_pictures {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}
#servis_and_news {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 1fr 40%;
    grid-template-rows: 1fr;
}
@media (max-width: 700px) {
    #servis_and_news {
        display: block;
    }
}
label {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}
.img_for_service {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
}
#article_for_servis {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}
.section_servis {
    display: grid;
    grid-template: 1fr/1fr;
    margin: 5px;
    background-color: whitesmoke;
}
.section_servis {
    display: flex;
    flex-direction: column;
}
.img_for_news {
    max-width: 100%;
    max-height: 100%;
}
.section_news {
    display: grid;
    grid-template-columns: 39% 1fr;
    grid-auto-rows: max-content;
    margin: 5px;
    background-color: whitesmoke;
}
#products {
    grid-column-end: span 2;
    background-color: white;
    margin-top: 5px;
}
.img_for_service {
    display: grid;
    grid-auto-columns: max-content;
    max-width: 100%;
    max-height: 100%;
}
#article_for_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.section_products {
    display: grid;
    grid-template: 1fr/1fr;
    margin: 5px;
    background-color: whitesmoke;
}
.section_products {
    display: flex;
    flex-direction: column;
}
p {
    display: flex;
    justify-content: center;
    margin: 0;
}
h2 {
    margin: auto;
}