html {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 767px;
    height: 5000px;
}

header {
    display: flex;
    flex-direction: column;
}
nav {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#jam_pictures {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}
img {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
}
main {
    display: grid;
}
#servis {
    background-color: darkgray;
    margin-right: 5px;
}
#news {
    background-color: darkgray;
}
#servis_and_news {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#products {
    grid-column-end: span 2;
    background-color: darkgray;
    margin-top: 5px;
}
label {
    display: flex;
    justify-content: center;
    background-color: darkgray;

}
article {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

section {
    display: grid;
    grid-template: 1fr/1fr;
    margin: 5px;
    color: white;
    background-color: gray;
}
h3 {
    display: flex;
    justify-content: center;
    margin: 0;
}
h2 {
    margin: auto;
}
section {
    display: flex;
    flex-direction: column;
}
